<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>userRegistration</servlet-name>
  	<display-name>userRegistration</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.userRegistration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>address</servlet-name>
  	<display-name>address</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.address</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userQuestion</servlet-name>
  	<display-name>userQuestion</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.userQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userRegistration</servlet-name>
  	<url-pattern>/userRegistration.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userQuestion</servlet-name>
  	<url-pattern>/userQuestion.do</url-pattern>
  </servlet-mapping>
  
</web-app>
