<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>userRegistration</servlet-name>
  	<display-name>userRegistration</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.userRegistration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>address</servlet-name>
  	<display-name>address</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.address</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userQuestion</servlet-name>
  	<display-name>userQuestion</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.userQuestion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Order</servlet-name>
  	<display-name>Order</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.Order</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateOrder</servlet-name>
  	<display-name>UpdateOrder</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.UpdateOrder</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderCancel</servlet-name>
  	<display-name>OrderCancel</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.OrderCancel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeUpdateStatus</servlet-name>
  	<display-name>EmployeeUpdateStatus</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.EmployeeUpdateStatus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminDeleteOrder</servlet-name>
  	<display-name>AdminDeleteOrder</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.AdminDeleteOrder</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminEmolyeeAdd</servlet-name>
  	<display-name>AdminEmolyeeAdd</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.AdminEmolyeeAdd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PassReset</servlet-name>
  	<display-name>PassReset</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.PassReset</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ItemAdd</servlet-name>
  	<display-name>ItemAdd</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.ItemAdd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminAddItem1</servlet-name>
  	<display-name>AdminAddItem1</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.AdminAddItem1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userBeforeLoginItem</servlet-name>
  	<display-name>userBeforeLoginItem</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.userBeforeLoginItem</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeDelete</servlet-name>
  	<display-name>EmployeeDelete</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.EmployeeDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeePassReset</servlet-name>
  	<display-name>EmployeePassReset</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.EmployeePassReset</servlet-class>
  </servlet>
  
  
  
  <servlet-mapping>
  	<servlet-name>userRegistration</servlet-name>
  	<url-pattern>/userRegistration.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userQuestion</servlet-name>
  	<url-pattern>/userQuestion.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Order</servlet-name>
  	<url-pattern>/Order.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateOrder</servlet-name>
  	<url-pattern>/UpdateOrder.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderCancel</servlet-name>
  	<url-pattern>/OrderCancel.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeUpdateStatus</servlet-name>
  	<url-pattern>/EmployeeUpdateStatus.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminDeleteOrder</servlet-name>
  	<url-pattern>/AdminDeleteOrder.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminEmolyeeAdd</servlet-name>
  	<url-pattern>/AdminEmolyeeAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PassReset</servlet-name>
  	<url-pattern>/PassReset.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ItemAdd</servlet-name>
  	<url-pattern>/ItemAdd.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminAddItem1</servlet-name>
  	<url-pattern>/AdminAddItem1.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userBeforeLoginItem</servlet-name>
  	<url-pattern>/userBeforeLoginItem.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeDelete</servlet-name>
  	<url-pattern>/EmployeeDelete.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeePassReset</servlet-name>
  	<url-pattern>/EmployeePassReset.do</url-pattern>
  </servlet-mapping>
  
</web-app>
