<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>userRegistration</servlet-name>
  	<display-name>userRegistration</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.userRegistration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>address</servlet-name>
  	<display-name>address</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.address</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userQuestion</servlet-name>
  	<display-name>userQuestion</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.userQuestion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Order</servlet-name>
  	<display-name>Order</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.Order</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateOrder</servlet-name>
  	<display-name>UpdateOrder</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.UpdateOrder</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrderCancel</servlet-name>
  	<display-name>OrderCancel</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.OrderCancel</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>com.anu.controller.AdminLogin</servlet-class>
  </servlet>
  
  
  
  <servlet-mapping>
  	<servlet-name>userRegistration</servlet-name>
  	<url-pattern>/userRegistration.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userQuestion</servlet-name>
  	<url-pattern>/userQuestion.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Order</servlet-name>
  	<url-pattern>/Order.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateOrder</servlet-name>
  	<url-pattern>/UpdateOrder.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrderCancel</servlet-name>
  	<url-pattern>/OrderCancel.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin.do</url-pattern>
  </servlet-mapping>
  
</web-app>
