@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	overflow-x: hidden;
}

html {
	font-size: 10px;
	font-family: "Roboto Cn", sans-serif;
}

a {
	text-decoration: none;
	color: #eee;
}

header {
	width: 100%;
	height: 100vh;
	
	
}

.container {
	max-width: 100%;
	width: 90%;
	margin: 0 auto;
}

nav {
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.brand {
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

.brand span {
	color: crimson;
}

nav ul {
	display: flex;
}

nav ul li {
	list-style: none;
	transform: translateX(+100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: 0.3s;
}

nav ul li:nth-child(3){
	animation-delay: 0.6s;
}

nav ul li:nth-child(4){
	animation-delay: 0.9s;
}

nav ul li:nth-child(5){
	animation-delay: 1.2s;
}



nav ul li a {
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child {
	margin-right: 0;
}

nav ul li a::after, nav ul li a::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: crimson;
	left: 0;
	transform: scaleX(0);
	transition: 0.5s;
}

nav ul li a::before {
	top: 0;
	transform-origin: left;
}

nav ul li a::after {
	bottom: 0;
	transform-origin: right;
}

nav ul li a:hover::after, nav ul li a:hover::before {
	transform: scaleX(1);
}

@keyframes slideIn{
	from{
	}
	to{
		transform:translateX(0);
	}
	
}