@charset "ISO-8859-1";

.text1 {
	border: 2px solid #aaa;
	border-radius: 4px;
	/*margin: 10px 20px 10px 30%;*/
	outline: none;
	padding: 8px;
	width: 30%;
}


.myHeadings{
	
}

#imageFullFit {
 	background-repeat: no-repeat;
 	background-size: cover;
 	object-fit: scale-down;
	width: 100%;
	height: 100px;
	
}


.text1:hover{
	border-color: dodgerBlue;
	box-shadow: 0 0 8px 0 dodgerBlue
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++*/



