@charset "ISO-8859-1";

.text1 {
	border: 2px solid #aaa;
	border-radius: 10px;
	/*margin: 10px 20px 10px 30%;*/
	outline: none;
	padding: 8px;
	width: 90%;
	margin-bottom: 10px;
	margin: 10px;
	justify-content: center;
	text-align: center;
}

.text1::placeholder{
	font-size:20px;
	text-align: center;.
	
}

.text1:hover{
	border-color: dodgerBlue;
	box-shadow: 0 0 8px 0 dodgerBlue
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++*/



