.container{
	width: auto;
	min-height: 50px;
	margin: 30px auto 0;
	display: flex;
	flex-direction:row;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	flex-wrap: wrap;
}

.container .box{
	
	position: relative;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
	height:auto;
	width:auto;
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
}

.imgBox{
	
}

.container .box .details{
	transform: scaleY(0);
	position: absolute;
	width:100%;
	top: 40%;
	align-content:center;
	background: rgba(0,0,0,.8)
}

.container .box .details h4{
	color:white;
}

.container .box:hover .details{
	transform: scaleY(1);
	position: absolute;
	transition: transform .5s;
}


.container .box img{
	
	position : relative;
	max-height: 100%;
	max-width: 100%;
	height: 300px;
	
	transition: transform 750ms;
	
	
}

.container .box:hover img{
	transform:scale(1.2);
}

img {
	min-height: 200px;
	min-width:200px;
}

